.contentArea{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

.listArea *{
    margin: 12px;
    cursor: pointer;
}

.listArea span:not(:first-of-type,:last-of-type){
    padding: 3px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.listArea span:first-of-type,.listArea span:last-of-type{
    font-size: 18px;
    padding-top: 2px;
}

.inquiry{
    width: 1200px;
    margin: auto;
display: flex;
flex-direction: column;

}

.inquiry>p{
    color: rgb(51, 51, 51);
    font-size: 14px;
    margin: 0;
}


.inquiry>p:last-of-type{
    margin-bottom: 46px;
}

.inquiry-list .list-name{
    background-color: transparent;
    border: none;
    color: rgb(57, 46, 255);
}

.inquiry-list .list-name:hover{
    cursor:pointer;
    text-decoration: underline;
}

.inquiry-list>thead button{
    border:1px solid rgba(0,0,0,0); 
    background-color: rgba(0,0,0,0);
    padding: 0;
    font-size: 12px;
    color: rgba(132, 132, 132, 125); 
    cursor: pointer;
}

.inquiry-list>thead .triangle-down{
    color: grey; 
    font-size: 1px;
    cursor: pointer;
}



.inquiry-list>thead td:nth-of-type(3) #activity:hover{
text-decoration: underline;
cursor: pointer;
}

.inquiry-list tbody td{
   padding-top: 15px;
}

.inquiry-list td{
    font-size: 12px;
    color: rgba(132, 132, 132, 125);
    border-bottom: 1px solid rgba(190, 190, 190, 179);
    padding-bottom: 10px;
}

.selectBox2 * { 
    box-sizing: border-box; 
}
.selectBox2 {
  position: relative;
  width: 150px;
  height: 35px;
  font-size: 20px;
  border: none;
  background-size: 20px;
  cursor: pointer;
}

.selectBox2 .optionList{
    font-size: 14px;
    padding: 0;
    border: 1px solid rgba(190, 190, 190, 179);
    background-color: white;
    box-shadow: 2px 2px 5px 0 gray;
}

.selectBox2 .optionList *{
    padding: 5px;
}

.selectBox2 .label{
    margin-right: 30px;
}

