*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    /* border: 1px solid black; */
}


/* header */
#header {
    width: 100%;
    height: 83px;
    position: relative;
    top: 0; 
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    z-index:2;
}
#header-2 {
    width: 100%;
    height: 20px;
    position: relative;
    top: 0;     
    background-color: transparent;
    z-index:2;
}
.header-wrap {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-wrap .logo {
    width: 100px;
    height: 50px;
    padding-right: 20px;
}

.header-wrap .nav {
    display: flex;
    flex: 1 1 0%;
}

.header-wrap .nav  ul {
    height: 83px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header-wrap .nav  ul li {
    list-style: none;
    margin-right: 20px;
}

.header-wrap .nav  ul li a {
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.header-wrap .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-wrap .right .search {
    width: 300px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 45px;
    /* border: 1px solid #fff; */
    padding: 0;
}

.header-wrap .right .search .search-btn {
    width: 50px;
    height: 40px;
    /* background-color: rgba(0,0,0,0.4); */
    border: none;
}

.header-wrap .right .search .search-btn .fa-solid {
    color: #fff;
    font-size: 15px;
    line-height: 40px;
}

.header-wrap .right .search .search-key {
    width: 90%;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 5px;
}

.header-wrap .right .search .search-key::placeholder {
    color: #aaa;
}

/* input delete btn 삭제 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}

.header-wrap .gnb {
    padding: 0 15px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}















.comment-title{
    font-size: 25px;
    font-weight: bold;
}

.commentt-info{
    
    width: 300px;
    display: flex;
    margin-top: 15px;
}
.comment-proflie{
    width: 60px;
    height: 50px;
}
.comment-proflie > a{ /* 이미지를 감싸고 있는 a 태그*/
    display: block;
    margin-top: 1px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

#member-profile{
   width: 42px;
   height: 42px;
   border-radius: 50%;
}

.comment-nickname{
    width: 170px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
}
.comment-row{
    height: 20px;
    font-size: 13px;
    color: rgb(0 0 0 / 30%)

}
.hart{
    width: 60px;
}
.comment-cotent{
    width: 300px;
    height: 120px;
}
.contaner{
    width: 1100px;
    height: 400px;
    background-color: #aaa;
    border-radius: 20px;
    margin : 0 auto;
    margin-top: 20px;
}



.contaner{
    width: 1100px;
    padding: 40px 40px 48px;
    background-color: white;
    background-color: rgba(248, 248, 248, 233);

}

.info{
    padding: 40px 0px 48px;
    width: 100%;
    height: 1400px;
    
}


.comment-title{
    width: 300px;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
}
.comment{
    width: 100%;
    height: 230px;
    margin: auto;
    background-color: white;
}


/* 코멘트 */
.comment-info{
    
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.comment-proflie{
    width: 60px;
    height: 50px;
}
.comment-proflie > a{ /* 이미지를 감싸고 있는 a 태그*/
    display: block;
    margin-top: 1px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

#member-profile{
   width: 42px;
   height: 42px;
   border-radius: 50%;
}

.comment-nickname{
    width: 170px;
    height: 30px;
    font-weight: bold;
    font-size: 17px;
}
.comment-row{
    height: 20px;
    font-size: 13px;
    color: rgb(0 0 0 / 30%)

}
.hart{
    width: 30px;
    margin-left: 760px;
}
.comment-cotent{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}


.pagination{
    padding: 0;
    list-style: none;

    display: flex;

    justify-content: center;
    margin: 15px 20px;
    text-align: center;

}
.pagination > li{
    width: 20px;
    
}

.pagination a{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #392eff;
}

/* 현재 페이지 */
.pagination .current{
    background-color: #00ffbe;
    border-radius: 50%;
    
    font-weight: bold;
}






/* footer */
.footer-top {
    height: 60px;
    background-color: #392eff;
    text-align: center;
    padding: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.footer-top > span {color: #00ffbe;}

.footer-bottom {
    height: 200px;
    background-color: #f9f9f9;
    padding-top: 25px;
    color: #777777;
}
.footer-bottom > div {
    width: 1200px;
    margin: 0 auto;
}
.footer-bottom p{
    font-size: 12px;
    line-height: 10px;
}