.inquiry{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.inquiry>p{
    color: rgb(51, 51, 51);
    font-size: 14px;
    margin: 0;
}

.inquiry>p:nth-of-type(3){
    margin-bottom: 20px;
}

.inquiry>pre{
    font-size: 14px;
}

.inquiry>#explain{
    width: 628px;
    height: 98px;
    resize: none;
}

.inquiry>#explain:focus{
    outline-color: #392eff;
}

#file-top{
    width: 1200px;
    margin: auto;
    display: flex;
    font-size: 12px; 
    font-weight: 300; 
}

#file-top > span{
    color: rgba(148,148,148,140);
}

#file-upload{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    color: rgba(162,172,172,157);
}

#file-upload span{
    color: #392eff;
    padding-right: 5px;
}

#upload-btn{
    width: 648px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(204,204,204,192);
    font-size: 12px;
    cursor: pointer;
}

#file-upload>#uploadfile{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.regist{
    width: 1200px;
    margin: auto;
    display: flex;
}

#registration {
    width: 190px;
    height: 38px;
    margin: 50px 0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #392eff;
    color:  rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    
}



#registration:hover {
    background-color: #00ffbe;
    transition-duration: 1s;
}




