/* ___ 검색결과 */
/* 중앙 가로 1200 내에서 작업할 때 */
main > .content-explain > div, .sch-menu{
    width: 1200px;
    margin: 0px auto;
}

/* 현재 페이지 속성 알려주는영역 */
.content-explain{
    height: 43px;
    display: flex;
    align-items: center;
    background: #00ffbe;
}

.content-explain > div > p{
    font-size: 16px;
    color: rgb(116, 116, 123);
    margin-left: 20px;
}

/* 검색결과 구분 탭*/
.sch-menu > ul{
    height: 43px;
    display: flex;
    align-items: center;
    margin: 16 5px;
    padding: 0;
    border-bottom: solid 1px black;
}

.sch-menu ul li {
    font-size: 18px;
    margin-right: 20px;
}

.sch-menu ul li a {
    color: rgb(116, 116, 123);
}

/*검색결과 출력*/
.user-list-row{
    margin-bottom : 20px;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.sch-user {
   /* width: 500px;
   height: 100px;*/
    width: 40%;    
    margin: 0 40px 20px 40px;
    display: flex;
    align-items: center;
}

/* 유저 프로필 이미지가 들어갈 영역*/
.sch-user > div:first-child{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*이미지 사이즈 71*71 / 둥글게 */
.sch-img-user {
    width: 71px;
    height: 71px;
    border-radius: 50%;
}

/*이미지에 대한 설명이 들어가는 영역*/
.sch-user-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    border-bottom: 1px solid black;
}

/*이미지영역 ~ 설명영역 사이 마진*/
.sch-user-info > div{
    color: black;
    padding-left: 10px;
    margin: 0 5px;
}

/*닉네임*/
.sch-user-info > div:nth-of-type(1) {
    height: 60px;
    padding: 20px 0px 16px 5px;
    font-size: 20px;
}

/*평가개수*/
.sch-user-info > div:nth-of-type(2) {
    height: 40px;
    font-size: 13px;
    padding-bottom: 16px;
}

/*팔로우 버튼 영역*/
.sch-user-follow{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}


.followBtn {
    width: 80px;
    height: 40px;
    padding: 0px 5px;
    background-color: #392eff;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.followingBtn{
    background-color : white;
    color : rgb(116, 116, 123);
    border : 1px solid rgb(116, 116, 123);
}

/*더보기 버튼 영역*/
.view-more{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more > button {
    width: 172px;
    height: 34px;
    border: 1px solid rgb(227, 227, 227);
    background-color: white;
    cursor: pointer;
}

/*검색 결과가 없는 경우*/
#searchFail{
    margin: auto;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchFail > i {
    font-size: 40px;
    color: #00ffbe;
}